################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Demo.ODataV4/bin
/Demo.ODataV4/obj/Debug
/Demo.WebAPI/bin
/Demo.WebAPI/obj/Debug
/packages
